/* image grid styles */
.img-grid{
    display: grid;
    justify-content: center;
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
img.hover-zoom:hover {
    transform: scale(2.5);
    position: relative;
    background-position: center;

}

  
 