.log-in {
    background-color: #000c08;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    position: absolute;
    top: 6px;
    right: 6px;
  }
  .log-in:hover {
    background: #4f8be1;
    color: #fff;
    border-color: #fff;
  }
.sign-in {
    background-color: #000c08;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    position: absolute;
    top: 6px;
    right: 120px;
  }
  .sign-in:hover {
    background: #4f8be1;
    color: #fff;
    border-color: #fff;
  }