.div {
  text-align: center;
  margin: auto;
  width: 50%;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 10%;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  
}

.section {
  font-size: 24px;
}
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}