
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    position: fixed;

  }
  
  .li {
    float: left;
  }
  .button {
    border: 1px solid rgb(179, 180, 179);
    background-color: #6e6b6b;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    cursor: pointer; /* Pointer/hand icon */
    min-width: 200px;
  }
  .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  .button:hover {
    background-color: #ddd;
  }
  
  .button:active {
    background-color: #666;

  }